<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Users</title>
  </head>
  <body>

    <h1>All Users</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {{#users}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{company}}</td>
          <td>
            <a href="/{{id}}">View</a>
          </td>
        </tr>
        {{/users}}
      </tbody>
    </table>

  </body>
</html>
