<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Show Page</h1>
    <ul>
      <li>
        <strong>Name: {{users.name}}</strong>
      </li>
      <li>
        <strong>Email: {{users.email}}</strong>
      </li>
      <li>
        <strong>Company: {{users.company}}</strong>
      </li>
    </ul>
    <a href="/">Back</a>
  </body>
</html>
